[Unit]
Description=cfp_01 entrypoint
ConditionPathExists=/cfp_01.entrypoint.sh
After=ipa_01.service

[Service]
Type=oneshot
ExecStart=bash -e /cfp_01.entrypoint.sh
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
