[Unit]
Description=cfp_01 entrypoint
ConditionPathExists=/cfp_01.entrypoint.sh
# Run and execute ipa_01 first if it exists. No-op otherwise.
Wants=ipa_01.service
After=ipa_01.service

[Service]
Type=oneshot
ExecStart=bash -e /cfp_01.entrypoint.sh
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=multi-user.target
